<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devoptionshider">

    <application
        android:label="DevOptionsHider"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Hide Developer Options from selected apps"/>
        <meta-data
            android:name="xposedminversion"
            android:value="93"/>
    </application>
</manifest>
